// General page spacing
body {
    font-family: 'Roboto', sans-serif;
    max-width: 815px;
    margin: 0 auto;
}

// Content spacing
#content {
    display: grid;
    grid-template-areas: "personal experience";
    grid-template-columns: 256px 1fr;
    column-gap: 12px;

    #experience-section {
        grid-area: experience;
    }

    #personal-section {
        grid-area: personal;
        background-color: orange;
        padding-left: 4px;
        padding-right: 8px;
    }
}

// Decrease job-header spacing
h1, h3, h4, h5 {
    margin-bottom: 3px;
}

h4, h5 {
    margin-top: 0px;
}

// Removes 'visited' link color
a {
    color: black;
}

// Change icons of contact bullets
#contact-bullets ul {
    li:nth-child(1)::marker {
        content: '📧 '
    }
    li:nth-child(2)::marker {
        content: '📞 '
    }
    li:nth-child(3)::marker {
        content: '🔗 '
    }
    li:nth-child(4)::marker {
        content: '🌐 '
    }
}

// Change icons of hobby bullets
#hobby-bullets ul {
    li:nth-child(1)::marker {
        content: '🎿 '
    }
    li:nth-child(2)::marker {
        content: '🚲 '
    }
    li:nth-child(3)::marker {
        content: '📼 '
    }
}
