body {
    font-family: 'Roboto', sans-serif;
    max-width: 750px;
    margin: 0 auto;
}

// Decrease job-header spacing
h3 {
    margin-bottom: 3px;
}

h4 {
    margin-top: 0px;
    margin-bottom: 12px;
}

// Change icons of contact bullets
#contact-bullets ul {
    li:nth-child(1)::marker {
        content: '📞 '
    }
    li:nth-child(2)::marker {
        content: '📧 '
    }
    li:nth-child(3)::marker {
        content: '🔗 '
    }
    li:nth-child(4)::marker {
        content: '🌐 '
    }
}